<div class="d-flex">
	<ul ngbNav #nav="ngbNav" class="ui-tabs-vertical" [animation]="false" orientation="vertical">
		<li ngbNavItem="dashboard">
			<a ngbNavLink i18n="@@common-dashboard">Dashboard</a>
			<ng-template ngbNavContent>
				<receiver-dashboard></receiver-dashboard>
			</ng-template>
		</li>
		<li ngbNavItem="syncMsgs">
			<a ngbNavLink i18n="@@receiver-sync-msgs">Pending Sync Items</a>
			<ng-template ngbNavContent>
				<receiver-sync-messages></receiver-sync-messages>
			</ng-template>
		</li>
		<li ngbNavItem="syncedMsgs">
			<a ngbNavLink i18n="@@receiver-synced-msgs">Synced Items</a>
			<ng-template ngbNavContent>
				<receiver-synced-messages></receiver-synced-messages>
			</ng-template>
		</li>
		<li ngbNavItem="errors">
			<a ngbNavLink i18n="@@common-errors">Errors</a>
			<ng-template ngbNavContent>
				<receiver-errors></receiver-errors>
			</ng-template>
		</li>
		<li ngbNavItem="conflicts">
			<a ngbNavLink i18n="@@receiver-conflicts">Conflicts</a>
			<ng-template ngbNavContent>
				<receiver-conflicts></receiver-conflicts>
			</ng-template>
		</li>
		<li ngbNavItem="statuses">
			<a ngbNavLink i18n="@@site-statuses">Site Statuses</a>
			<ng-template ngbNavContent>
				<site-statuses></site-statuses>
			</ng-template>
		</li>
		<li ngbNavItem="archive">
			<a ngbNavLink i18n="@@common-sync-archives">Sync Archives</a>
			<ng-template ngbNavContent>
				<receiver-archives></receiver-archives>
			</ng-template>
		</li>
	</ul>
	<div class="container mw-100 bg-white">
		<div [ngbNavOutlet]="nav" class="mt-2 mb-3"></div>
	</div>
</div>
