<div class="float-right">
	<span i18n="@@common-view">View</span>:&nbsp;
	<div ngbDropdown class="d-inline-block">
		<button class="btn btn-outline-primary" ngbDropdownToggle>{{viewLabel}}</button>
		<div ngbDropdownMenu>
			<button ngbDropdownItem (click)="changeView('list')" i18n="@@common-list">List</button>
			<button ngbDropdownItem (click)="changeView('site')" i18n="@@common-health-facility">Health Facility</button>
			<button ngbDropdownItem (click)="changeView('entity')" i18n="@common-entity">Entity</button>
		</div>
	</div>
</div>
<h5>
	<span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span>
</h5>
<div class="ui-bar-spacer"></div>
<ng-container [ngSwitch]="view">
	<receiver-sync-msg-list-view *ngSwitchCase="'list'" (countEventEmitter)="updateCount($event)"></receiver-sync-msg-list-view>
	<receiver-sync-msg-site-view *ngSwitchCase="'site'"></receiver-sync-msg-site-view>
</ng-container>
