<div class="archives-filter">
	<table class="text-center">
		<tr>
			<th></th>
			<th i18n="@@common-from">From</th>
			<th i18n="@@common-to">To</th>
			<th></th>
		</tr>
		<tr>
			<td class="pr-2" i18n="@@receiver-filter-by-date-received">Filter By Date Received:</td>
			<td><input type="date" [(ngModel)]="startDate" /></td>
			<td><input type="date" [(ngModel)]="endDate" /></td>
			<td class="pl-2">
				<button class="btn btn-outline-primary btn-sm" (click)="filterByDateReceived()"
						[disabled]="(startDate == undefined || startDate == '') && (endDate == undefined || endDate == '')">
					<span i18n="@@common-filter">Filter</span>
				</button>
			</td>
		</tr>
	</table>
</div>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
	<tr>
		<th i18n="@@common-entity">Entity</th>
		<th i18n="@@common-identifier">Identifier</th>
		<th i18n="@@common-health-facility">Health Facility</th>
		<th i18n="@@common-district">District</th>
		<th i18n="@@common-operation">Operation</th>
		<th i18n="@@common-message-id">Message Id</th>
		<th i18n="@@common-date-sent">Date Sent</th>
		<th i18n="@@common-date-received">Date Received</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let a of archives">
		<td>{{a.modelClassName | modelClass}}</td>
		<td>{{a.identifier}}</td>
		<td>{{a.site?.name}}</td>
		<td>{{a.site?.siteDistrict}}</td>
		<td>
			<span class="text-success" [hidden]="a.operation != 'c'" i18n="@@common-insert">Insert</span>
			<span [hidden]="a.operation != 'u'" i18n="@@common-update">Update</span>
			<span class="text-danger" [hidden]="a.operation != 'd'" i18n="@@common-delete">Delete</span>
			<span class="text-info" [hidden]="a.operation != 'r'" i18n="@@common-request">Request</span>
		</td>
		<td>{{a.messageUuid}}</td>
		<td container="body" ngbTooltip="{{a.dateSentBySender | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{a.dateSentBySender| date:'MMM dd, y'}}</td>
		<td container="body" ngbTooltip="{{a.dateReceived | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{a.dateReceived | date:'MMM dd, y'}}</td>
	</tr>
	</tbody>
</table>

