<div class="ui-inline-menu">
	<span class="font-weight-bold" i18n="@@common-view">View</span>&nbsp;
	<div ngbDropdown class="d-inline-block">
		<button class="btn btn-outline-secondary" ngbDropdownToggle>{{viewInfo?.viewLabel}}</button>
		<div ngbDropdownMenu>
			<button ngbDropdownItem (click)="changeToListView()" i18n="@@common-list">List</button>
			<button ngbDropdownItem (click)="changeToSiteView()" i18n="@@common-health-facility">Health Facility</button>
			<button ngbDropdownItem (click)="changeToEntityView()" i18n="@common-entity">Entity</button>
		</div>
	</div>
</div>
<div class="float-right">
	<table class="text-center">
		<tr>
			<th></th>
			<th i18n="@@common-from">From</th>
			<th i18n="@@common-to">To</th>
			<th></th>
		</tr>
		<tr>
			<td class="pr-2" i18n="@@receiver-filter-by-date-received">Filter By Date Received:</td>
			<td><input type="date" [(ngModel)]="startDate" /></td>
			<td><input type="date" [(ngModel)]="endDate" /></td>
			<td class="pl-2">
				<button class="btn btn-outline-primary btn-sm" (click)="applyDateReceivedFilter()"
						[disabled]="(!startDate || startDate == '') && (!endDate || endDate == '')">
					<span i18n="@@common-filter">Filter</span>
				</button>
			</td>
		</tr>
	</table>
</div>
<h5>
	<span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span>
</h5>
<div class="ui-bar-spacer"></div>
<ng-container [ngSwitch]="viewInfo?.view">
	<receiver-archive-list-view [filterDateRange]="filterDateRange" *ngSwitchCase="view.LIST"></receiver-archive-list-view>
	<receiver-archive-group-view [filterDateRange]="filterDateRange" [viewInfo]="viewInfo" *ngSwitchCase="view.SITE"></receiver-archive-group-view>
	<receiver-archive-group-view [filterDateRange]="filterDateRange" [viewInfo]="viewInfo" *ngSwitchCase="view.ENTITY"></receiver-archive-group-view>
</ng-container>
