<div class="archives-filter">
	<table class="text-center">
		<tr>
			<th></th>
			<th i18n="@@common-from">From</th>
			<th i18n="@@common-to">To</th>
			<th></th>
		</tr>
		<tr>
			<td class="pr-2" i18n="@@receiver-filter-by-date-received">Filter By Date Received:</td>
			<td><input type="date" [(ngModel)]="startDate" /></td>
			<td><input type="date" [(ngModel)]="endDate" /></td>
			<td class="pl-2">
				<button class="btn btn-outline-primary btn-sm" (click)="filterByDateReceived()"
						[disabled]="(startDate == undefined || startDate == '') && (endDate == undefined || endDate == '')">
					<span i18n="@@common-filter">Filter</span>
				</button>
			</td>
		</tr>
	</table>
</div>
<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span></h5>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
	<tr>
		<th i18n="@@common-entity">Entity</th>
		<th i18n="@@common-identifier">Identifier</th>
		<th i18n="@@common-message-id">Message Id</th>
		<th i18n="@@common-sender-site">Sender Site</th>
		<th i18n="@@common-district">District</th>
		<th i18n="@@receiver-date-sent-by-remote">Date Sent By Remote Site</th>
		<th i18n="@@common-date-received">Date Received</th>
		<th i18n="@@common-date-added">Date Added</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let e of events">
		<td>{{e.modelClassName | modelClass}}</td>
		<td>{{e.identifier}}</td>
		<td>{{e.messageUuid}}</td>
		<td>{{e.site?.name}}</td>
		<td>{{e.site?.siteDistrict}}</td>
		<td container="body" ngbTooltip="{{e.dateSentBySender | date:'EEEE, MMMM dd, y, h:mm:ss a'}}" [openDelay]="1000">{{e.dateSentBySender| date:'MMM dd, y'}}</td>
		<td container="body" ngbTooltip="{{e.dateReceived | date:'EEEE, MMMM dd, y, h:mm:ss a'}}" [openDelay]="1000">{{e.dateReceived | date:'MMM dd, y'}}</td>
		<td>{{e.dateCreated | date: 'MMM dd, y'}}</td>
	</tr>
	</tbody>
</table>
