<table [hidden]="!this.siteProgress" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="w-100s table-sm table-striped">
	<thead class="table-secondary">
	<tr>
		<th class="text-nowrap text-center border-secondary border-bottom" i18n="@@common-health-facility">Health Facility</th>
		<th class="w-100 text-center border-secondary border-bottom">
			<span i18n="@@receiver-completed-tables">Completed Tables</span> (<span i18n="common-of">of</span> {{tableCount}})
		</th>
		<th class="text-nowrap text-center border-secondary border-bottom" i18n="@@common-action">Action</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let e of siteProgress | keyvalue">
		<td class="text-nowrap align-top" i18n="@@common-identifier">{{getSiteName(e.key)}}</td>
		<td class="w-100 align-middle">
			<ngb-progressbar type="success" height="12px" [value]="castToInt(e.value)" [max]="tableCount"
				[ngbTooltip]="toString(e.value)">
				{{e.value}}
			</ngb-progressbar>
		</td>
		<td class="text-nowrap text-center align-top">
			<i class="bi bi-eye hover-primary ui-cursor-pointer" [ngbTooltip]="viewIncompleteTablesTemplate"
			   [openDelay]="1000" (click)="showIncompleteTables(e.key)"></i>
		</td>
	</tr>
	</tbody>
</table>

<ng-template #viewIncompleteTablesTemplate>
	<span i18n="@@common-view-incomplete-tables">View Incomplete Tables</span>
</ng-template>

<ng-template #tableRecTemplate>
	<div class="modal-header d-flex justify-content-center">
		<h4 class="modal-title" id="modal-basic-title" i18n="@@common-incomplete-tables">Incomplete Tables</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeDialog()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="w-100 table-sm table-striped">
			<thead class="table-secondary">
			<tr>
				<th class="text-nowrap px-3 text-center border-secondary border-bottom" i18n="@@common-table-name">
					Table Name
				</th>
				<th class="text-nowrap px-3 text-center border-secondary border-bottom" i18n="@@receiver-last-batch-received">
					Last Batch Received
				</th>
				<th class="text-nowrap px-3 text-center border-secondary border-bottom" i18n="@@receiver-start-at-facility">
					Start Date At Health Facility
				</th>
				<th class="w-100 text-center border-secondary border-bottom" i18n="@@common-processed">
					Processed
				</th>
				<th class="text-nowrap px-3 text-center border-secondary border-bottom" i18n="@@common-row-count">
					Row Count
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let r of tableReconciliations">
				<td class="text-nowrap align-top">{{r.tableName}}</td>
				<td class="text-nowrap align-top text-center">{{getLastBatchReceivedLabel(r.lastBatchReceived)}}</td>
				<td class="text-nowrap align-top">{{r.remoteStartDate  | date:'EEE, MMM dd, y, HH:mm'}}</td>
				<td class="w-100 align-middle">
					<ngb-progressbar type="success" height="12px" [value]="castToInt(r.processedCount)"
									 [max]="castToInt(r.rowCount)"  [ngbTooltip]="r.processedCount?.toString()">
						<b>{{r.processedCount}}</b>
					</ngb-progressbar>
				</td>
				<td class="text-nowrap align-top text-center">
					<span [hidden]="!r.remoteStartDate">{{r.rowCount}}</span>
					<span [hidden]="r.remoteStartDate" i18n="@@common-unknown">Unknown</span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer justify-content-center">
		<button type="button" class="btn btn-outline-danger" (click)="closeDialog()" i18n="@@common-close">Close</button>
	</div>
</ng-template>
