<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOGS_PATTERN" value="%-5level %date [%thread] %logger{8}:%line %msg%n" />
    <property name="LOGS_DIR" value="/home/wyclif/Documents/STORAGE/PROJECTS/openmrs-dbsync/logs" />
    <property name="LOGS_FILE_NAME" value="openmrs-eip" />
    <property name="LOGS_FILE_NAME_EXT" value="log" />
    <property name="LOGS_FILE" value="${LOGS_DIR}/${LOGS_FILE_NAME}.${LOGS_FILE_NAME_EXT}" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOGS_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FILE}</file>
        <encoder>
            <pattern>${LOGS_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover daily and when the file reaches 30MB -->
            <fileNamePattern>${LOGS_DIR}/%d{yyyy-MM}/${LOGS_FILE_NAME}-%d{yyyy-MM-dd}-%i.${LOGS_FILE_NAME_EXT}</fileNamePattern>
            <maxFileSize>30MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>