<table class="text-center border table-striped" [hidden]="!categories">
	<thead>
		<tr class="bg-light-silver">
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark">{{categoryLabel}}</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-inserts">Inserts</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-updates">Updates</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-deletes">Deletes</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-requests">Requests</span>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr class="placeholder-glow" *ngFor="let c of categories">
			<td class="text-right pr-2 pl-2 border-bottom-0">
				{{getCategoryDisplay(c)}}
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{getCountDisplay(categoryAndCountsMap?.get(c)?.get(SyncOperation.c))}}</span>
				<span class="placeholder placeholder-lg col-1" [hidden]="categoryAndCountsMap?.get(c)?.get(SyncOperation.c) != null"></span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{getCountDisplay(categoryAndCountsMap?.get(c)?.get(SyncOperation.u))}}</span>
				<span class="placeholder placeholder-lg col-1" [hidden]="categoryAndCountsMap?.get(c)?.get(SyncOperation.u) != null"></span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{getCountDisplay(categoryAndCountsMap?.get(c)?.get(SyncOperation.d))}}</span>
				<span class="placeholder placeholder-lg col-1" [hidden]="categoryAndCountsMap?.get(c)?.get(SyncOperation.d) != null"></span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{getCountDisplay(categoryAndCountsMap?.get(c)?.get(SyncOperation.r))}}</span>
				<span class="placeholder placeholder-lg col-1" [hidden]="categoryAndCountsMap?.get(c)?.get(SyncOperation.r) != null"></span>
			</td>
		</tr>
	</tbody>
</table>

<div class="placeholder-wave" [hidden]="categories">
	<span class="placeholder w-100"></span>
	<span class="placeholder w-100"></span>
</div>
