<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span></h5>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
	<tr>
		<th i18n="@@common-table-name">Table Name</th>
		<th i18n="@@common-identifier">Identifier</th>
		<th i18n="@@common-message-id">Message Id</th>
		<th i18n="@@common-operation">Operation</th>
		<th i18n="@@common-status">Status</th>
		<th i18n="@@common-dateAdded">Date Added</th>
		<th i18n="@@common-dateSent">Date Sent</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let m of syncMessages">
		<td>{{m.tableName}}</td>
		<td>{{m.identifier}}</td>
		<td>{{m.messageUuid}}</td>
		<td>
			<span class="text-success" [hidden]="m.operation != 'c'" i18n="@@common-insert">Insert</span>
			<span [hidden]="m.operation != 'u'" i18n="@@common-update">Update</span>
			<span class="text-danger" [hidden]="m.operation != 'd'" i18n="@@common-delete">Delete</span>
			<span class="text-info" [hidden]="m.operation != 'r'" i18n="@@common-request">Request</span>
		</td>
		<td>
			<i class="bi-envelope-dash text-warning ui-cursor-pointer" [hidden]="m.status != 'NEW'" [ngbTooltip]="statusWaitingTemplate" [openDelay]="1000"></i>
			<i class="bi-envelope-check-fill text-success ui-cursor-pointer" [hidden]="m.status != 'SENT'" [ngbTooltip]="statusSentTemplate" [openDelay]="1000"></i>
		</td>
		<td>{{m.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		<td>{{m.dateSent | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	</tr>
	</tbody>
</table>

<!-- Templates -->
<ng-template #statusWaitingTemplate>
	<span i18n="@@common-waiting">Waiting To Be Sent</span>
</ng-template>

<ng-template #statusSentTemplate>
	<span i18n="@@common-sent">Sent</span>
</ng-template>
