<div class="d-flex">
	<ul ngbNav #nav="ngbNav" class="ui-tabs-vertical" [animation]="false" orientation="vertical">
		<li ngbNavItem="dashboard">
			<a ngbNavLink i18n="@@common-dashboard">Dashboard</a>
			<ng-template ngbNavContent>
				<sender-dashboard></sender-dashboard>
			</ng-template>
		</li>
		<li ngbNavItem="pending">
			<a ngbNavLink i18n="@@sender-db-events">Database Events</a>
			<ng-template ngbNavContent>
				<db-events></db-events>
			</ng-template>
		</li>
		<li ngbNavItem="syncMsgs">
			<a ngbNavLink i18n="@@sender-sync-msgs">Sync Items</a>
			<ng-template ngbNavContent>
				<sender-sync-messages></sender-sync-messages>
			</ng-template>
		</li>
		<li ngbNavItem="errors">
			<a ngbNavLink i18n="@@common-errors">Errors</a>
			<ng-template ngbNavContent>
				<sender-errors></sender-errors>
			</ng-template>
		</li>
		<li ngbNavItem="archives">
			<a ngbNavLink i18n="@@common-sync-archives" class="border-top border-bottom">Sync Archives</a>
			<ng-template ngbNavContent>
				<app-sender-archive></app-sender-archive>
			</ng-template>
		</li>
	</ul>
	<div class="container mw-100 bg-white">
		<div [ngbNavOutlet]="nav" class="mt-2 mb-3"></div>
	</div>
</div>
