/* You can add global styles to this file, and also import other style files */

/* Importing custom variables */
@import "~src/assets/custom-variables";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
	color: $textColorDarkGray;
}

.ui-bar-header {
	height: 3px !important;
	background-color: $themeColorSecondary;
}

.ui-bar-spacer {
	height: 15px !important;
}

.ui-bar-spacer-content {
	height: 10px !important;
}

.modal-header {
	background-color: $colorSilver;
}

.modal-title {
	color: $colorMaroon;
}

.ui-row-highlight:hover {
	background-color: $colorGray;
	color: $themeColorSecondary;
}

.hover-success:hover {
	color: $colorSuccess;
}

.hover-primary:hover {
	color: $colorPrimary;
}

.hover-danger:hover {
	color: $colorDanger;
}

.ui-display-table tbody tr th {
	padding-right: 3px !important;
}

.ui-display-table tbody tr td {
	padding-left: 4px !important;
}

.ui-cursor-pointer {
	cursor: pointer;
}

.ui-tabs-vertical .nav-link {
	color: $colorLightSilver;
	background-color: $colorSecondary;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid white !important;
	width: 180px !important;
}

.ui-tabs-vertical .nav-link:hover {
	color: $colorWhite;
}

.ui-tabs-vertical .nav-link.active {
	color: $textColorDarkGray;
	background-color: $colorWhite;
	border-left: 3px solid $themeColorSecondary;
}

.ui-tabs-vertical .nav-link.active:hover {
	color: $textColorDarkGray;
}

.bg-silver {
	background-color: $colorSilver;
}

.bg-light-silver {
	background-color: $colorLightSilver;
}

#app-container .nav-link.active {
	border-top: 3px solid $colorPrimary;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-icon-sm {
	font-size: 20px;
}

.ui-text-theme-secondary {
	color: $themeColorSecondary;
}

.ui-no-wrap {
	white-space: nowrap;
}

.tab-content-container {
	min-height: 500px;
}


