<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span></h5>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
	<tr>
		<th i18n="@@common-name">Name</th>
		<th i18n="@@common-identifier">Identifier</th>
		<th i18n="@@last-sync-date">Last Sync Date</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let e of statuses">
		<td>{{e.siteInfo?.name}}</td>
		<td>{{e.siteInfo?.identifier}}</td>
		<td>{{e.lastSyncDate | date:'EEEE, MMMM d, y, HH:mm:ss'}}</td>
	</tr>
	</tbody>
</table>

