<div class="container mw-100">
	<div class="row">
		<div class="col-6">
			<div class="card mb-3">
				<div class="card-header text-danger text-center"><span class="h5" i18n="@@common-errors">Errors</span></div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="h6 card-title ui-text-theme-secondary" i18n="@@common-quick-summary">Quick Summary</div>
						<div class="ml-3 mr-3">
							<table class="text-dark">
								<tr>
									<td>
										<span i18n="@@common-total-count">Total Count</span>
									</td>
									<td>
										<span class="badge border">0</span>
									</td>
								</tr>
								<tr>
									<td>
										<span i18n="@@common-connection-related">Connection Related</span>
									</td>
									<td><span class="badge border">0</span></td>
								</tr>
								<tr>
									<td>
										<span i18n="@@common-most-encountered">Most Encountered</span>
									</td>
									<td>
										<span class="badge border">0</span>
									</td>
								</tr>
							</table>
						</div>
					</li>
					<li class="list-group-item">
						<div class="h6 card-title ui-text-theme-secondary" i18n="@@common-by-table">By Table</div>
						<div class="ml-3 mr-3">
							<table>
								<tr>
									<td>
										<table-stats *ngFor="let e of dashboard?.entries.errors['tableStatsMap'] | keyvalue" [tableName]="e.key" [stats]="e.value"></table-stats>
									</td>
								</tr>
							</table>
						</div>
					</li>
					<li class="list-group-item">
						<div class="h6 card-title ui-text-theme-secondary" i18n="@@common-by-error-type">By Error Type</div>
						<div class="ml-3 mr-3">
							<table class="text-dark">
								<tr *ngFor="let e of dashboard?.entries.errors['exceptionCountMap'] | keyvalue">
									<td>
										<span>{{e.key}}</span>
									</td>
									<td>
										<span class="badge border">{{e.value}}</span>
									</td>
								</tr>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
