<h5>
	<span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span>
</h5>
<div>
	<button [hidden]="verifyTaskStatus?.running" type="button" class="btn btn-outline-primary btn-sm" (click)="startVerifyTask()" i18n="@@receiver-conflict-verify">Verify</button>
	<span class="badge badge-success" [hidden]="!verifyTaskStatus?.running" i18n="@@receiver-conflict-verify-running">Verify task is running</span>
</div>
<div class="ui-bar-spacer"></div>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
		<tr>
			<th i18n="@@common-entity">Entity</th>
			<th i18n="@@common-identifier">Identifier</th>
			<th i18n="@@common-health-facility">Health Facility</th>
			<th i18n="@@common-district">District</th>
			<th i18n="@@common-operation">Operation</th>
			<th i18n="@@common-message-id">Message Id</th>
			<th i18n="@@common-date-sent">Date Sent</th>
			<th i18n="@@common-date-received">Date Received</th>
			<th i18n="@@common-date-added">Date Added</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let c of conflicts" class="ui-row-highlight ui-cursor-pointer" (click)="viewDiff(c)">
			<td>{{c.modelClassName | modelClass}}</td>
			<td>{{c.identifier}}</td>
			<td>{{c.site?.name}}</td>
			<td>{{c.site?.siteDistrict}}</td>
			<td>
				<span class="text-success" [hidden]="c.operation != 'c'" i18n="@@common-insert">Insert</span>
				<span [hidden]="c.operation != 'u'" i18n="@@common-update">Update</span>
				<span class="text-danger" [hidden]="c.operation != 'd'" i18n="@@common-delete">Delete</span>
				<span class="text-info" [hidden]="c.operation != 'r'" i18n="@@common-request">Request</span>
			</td>
			<td>{{c.messageUuid}}</td>
			<td container="body" ngbTooltip="{{c.dateSentBySender | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateSentBySender| date:'MMM dd, y'}}</td>
			<td container="body" ngbTooltip="{{c.dateReceived | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateReceived | date:'MMM dd, y'}}</td>
			<td container="body" ngbTooltip="{{c.dateCreated | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateCreated | date:'MMM dd, y'}}</td>
		</tr>
	</tbody>
</table>

<!-- Templates -->

<ng-template #diffTemplate>
	<div class="overflow-auto">
		<form #resolutionForm="ngForm">
			<div class="modal-header-silver">
				<h4 class="modal-title" id="modal-basic-title" i18n="@@receiver-conflict-resolution">Conflict Resolution</h4>
				<button type="button" class="close" aria-label="Close" (click)="closeResolutionDialog()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					<span class="font-weight-bold" i18n="@@receiver-conflict-decision">Decision</span><span class="text-danger">*</span>:&nbsp;
					<span *ngIf="decisionInput.invalid && (decisionInput.dirty || decisionInput.touched)" class="text-danger">
						<span *ngIf="decisionInput.errors?.required" i18n="@@receiver-conflict-decision-required">Decision is required</span>
					</span>
					<input [(ngModel)]="decision" type="radio" name="decision" value="MERGE" required #decisionInput="ngModel" />
					&nbsp;<span i18n="@@receiver-conflict-merge">Merge</span>&nbsp;
					<input [(ngModel)]="decision" type="radio" name="decision" value="SYNC_NEW" required #decisionInput="ngModel" />
					&nbsp;<span i18n="@@receiver-conflict-sync-new">Sync New State</span>&nbsp;
					<input [(ngModel)]="decision" type="radio" name="decision" value="IGNORE_NEW" required #decisionInput="ngModel" />
					&nbsp;<span i18n="@@receiver-conflict-ignore-new">Ignore New State</span>
				</p>
				<table border="1" width="100%" class="ui-display-table">
					<thead>
						<tr class="text-center table-header">
							<th i18n="@@receiver-conflict-prop-name">Property Name</th>
							<th i18n="@@receiver-conflict-current-value">Current Value</th>
							<th i18n="@@receiver-conflict-new-value">New Value</th>
							<th class="px-2" i18n="@@receiver-conflict-sync-qn" [hidden]="decision != 'MERGE'">Sync?</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let prop of propsToSync" [ngClass]="{'ui-bg-light-green': diff?.additions?.includes(prop.name), 'ui-bg-light-yellow': diff?.modifications?.includes(prop.name), 'ui-bg-light-pink': diff?.removals?.includes(prop.name)}">
							<td class="text-right align-text-top font-weight-bold">{{prop.name}}</td>
							<td class="text-left align-text-top text-break">{{diff?.currentState[prop.name]}}</td>
							<td class="text-left align-text-top text-break">{{diff?.newState[prop.name]}}</td>
							<td class="text-center" [hidden]="decision != 'MERGE'">
								<input [(ngModel)]="prop.checked" [hidden]="diff?.exclusions?.includes(prop.name)" type="checkbox" name="{{prop.name}}" value="{{prop.checked}}" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="pt-3">
					<span class="font-weight-bold" i18n="@@common-legend">Legend</span>:&nbsp;&nbsp;
					<span class="ui-color-key border-success ui-bg-light-green">&nbsp;</span>&nbsp;<span i18n="@@receiver-conflict-resolve-added">Added</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="ui-color-key border-warning ui-bg-light-yellow">&nbsp;</span>&nbsp;<span i18n="@@receiver-conflict-resolve-modified">Modified</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="ui-color-key border-danger ui-bg-light-pink">&nbsp;</span>&nbsp;<span i18n="@@receiver-conflict-resolve-removed">Removed</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" (click)="closeResolutionDialog()" i18n="@@common-close">Cancel</button>
				<button class="btn btn-outline-primary" (click)="resolve()" [disabled]="resolutionForm.invalid || !isResolutionFormValid()" i18n="@@common-submit">Submit</button>
			</div>
		</form>
	</div>
</ng-template>

