<h5>
	<span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span class="badge border border-secondary">{{count}}</span>
</h5>
<div>
	<button type="button" class="btn btn-outline-primary btn-sm" (click)="verifyConflicts()" [ngbTooltip]="verifyMsgTemplate" [openDelay]="1000" i18n="@@receiver-conflict-verify">Verify</button>
</div>
<div class="ui-bar-spacer"></div>
<div class="ui-bar-spacer"></div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
	<thead>
		<tr>
			<th i18n="@@common-entity">Entity</th>
			<th i18n="@@common-identifier">Identifier</th>
			<th i18n="@@common-health-facility">Health Facility</th>
			<th i18n="@@common-district">District</th>
			<th i18n="@@common-operation">Operation</th>
			<th i18n="@@common-message-id">Message Id</th>
			<th i18n="@@common-date-sent">Date Sent</th>
			<th i18n="@@common-date-received">Date Received</th>
			<th i18n="@@common-date-added">Date Added</th>
			<th i18n="@@common-action">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let c of conflicts" class="ui-row-highlight">
			<td>{{c.modelClassName | modelClass}}</td>
			<td>{{c.identifier}}</td>
			<td>{{c.site?.name}}</td>
			<td>{{c.site?.siteDistrict}}</td>
			<td>
				<span class="text-success" [hidden]="c.operation != 'c'" i18n="@@common-insert">Insert</span>
				<span [hidden]="c.operation != 'u'" i18n="@@common-update">Update</span>
				<span class="text-danger" [hidden]="c.operation != 'd'" i18n="@@common-delete">Delete</span>
				<span class="text-info" [hidden]="c.operation != 'r'" i18n="@@common-request">Request</span>
			</td>
			<td>{{c.messageUuid}}</td>
			<td container="body" ngbTooltip="{{c.dateSentBySender | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateSentBySender| date:'MMM dd, y'}}</td>
			<td container="body" ngbTooltip="{{c.dateReceived | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateReceived | date:'MMM dd, y'}}</td>
			<td container="body" ngbTooltip="{{c.dateCreated | date:'EEEE, MMMM dd, y, HH:mm:ss'}}" [openDelay]="1000">{{c.dateCreated | date:'MMM dd, y'}}</td>
			<td>
				<i class="bi bi-eye hover-primary ui-cursor-pointer" [ngbTooltip]="viewDetailsTemplate" [openDelay]="1000" (click)="viewConflict(c)"></i>
				&nbsp;
				<i class="bi bi-check-circle hover-success ui-cursor-pointer" [ngbTooltip]="markResolvedTemplate" [openDelay]="1000" (click)="confirmDialog(c)"></i>
			</td>
		</tr>
	</tbody>
</table>

<!-- Templates -->
<ng-template #markResolvedTemplate>
	<span i18n="@@receiver-conflict-mark-resolved">Mark As Resolved</span>
</ng-template>

<ng-template #viewDetailsTemplate>
	<span i18n="@@common-view-details">View Details</span>
</ng-template>
<ng-template #verifyMsgTemplate>
	<span i18n="@@receiver-conflict-verify-tooltip">Check for false conflicts</span>
</ng-template>

<ng-template #detailsTemplate>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" i18n="@@common-details">Details</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeDetailsDialog()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table border="1" width="100%" class="table-striped ui-display-table">
			<tbody>
				<tr *ngFor="let entry of parsedEntityPayLoad.model | keyvalue">
					<th class="text-right align-text-top">{{entry.key}}</th>
					<td class="text-left">{{entry.value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-primary" (click)="closeDetailsDialog()" i18n="@@common-close">Close</button>
	</div>
</ng-template>

<ng-template #verifyConflictsTemplate>
	<div class="modal-header">
		<h4 class="modal-title" i18n="@@@receiver-conflict-title">Conflicts</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeDetailsDialog()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div [hidden]="falseConflicts == 0">
			<div>
				<span i18n="@@receiver-conflict-false-msg">False conflict(s)</span>: {{falseConflicts}}
			</div>
			<div>
				<span i18n="@@receiver-conflict-clean">Do you want to clean them?</span>
			</div>
		</div>
		<div [hidden]="falseConflicts && falseConflicts > 0">
			<span i18n="@@receiver-conflict-no-false-msg">No false conflicts found</span>
		</div>
	</div>
	<div class="modal-footer">
		<button [hidden]="falseConflicts == 0" type="button" class="btn btn-outline-danger" (click)="closeDetailsDialog()" i18n="@@common-no">No</button>
		<button [hidden]="falseConflicts == 0" type="button" class="btn btn-outline-primary" (click)="cleanConflicts()" i18n="@@common-yes">Yes</button>
		<button [hidden]="falseConflicts && falseConflicts > 0" type="button" class="btn btn-outline-primary" (click)="closeDetailsDialog()" i18n="@@common-close">Close</button>
	</div>
</ng-template>

<ng-template #cleanedConflictsTemplate>
	<div class="modal-header">
		<h4 class="modal-title" i18n="@@receiver-conflict-title">Conflicts</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeDetailsDialog()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<span i18n="@@receiver-conflict-cleaned-msg">Cleaned conflict(s)</span>: {{cleanedCount}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-primary" (click)="closeDetailsDialog()" i18n="@@common-close">Close</button>
	</div>
</ng-template>

