/*Custom global variable should be defined in this file*/

$enable-gradients: true;
$colorSuccess: #28a745 !important;
$colorSilver: #c4c3c3;
$colorPrimary: #007bff !important;
$colorGray: #a0a0a0 !important;
$colorMaroon: #800000 !important;
$colorDanger: #dc3545 !important;
$colorSecondary: #6c757d !important;
$themeColorSecondary: $colorMaroon;
$textColorDarkGray: #495057 !important;
