<table class="text-center border table-striped">
	<thead>
		<tr class="bg-light-silver">
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-entity">Entity</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-inserts">Inserts</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-updates">Updates</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-deletes">Deletes</span>
			</td>
			<td class="pr-1 pl-1 border border-secondary">
				<span class="h6 text-dark" i18n="@@common-requests">Requests</span>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let e of entityStatsMap | keyvalue">
			<td class="text-right pr-2 pl-2 border-bottom-0">
				{{e.key | modelClass}}
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{e.value.c}}</span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{e.value.u}}</span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{e.value.d}}</span>
			</td>
			<td class="pr-1 pl-1 border-bottom-0 border-left">
				<span class="badge border border-secondary">{{e.value.r}}</span>
			</td>
		</tr>
	</tbody>
</table>
