<div [hidden]="reconciliation">
	<div class="d-flex justify-content-center align-items-center" style="min-height: 250px">
		<i class="bi bi-play-btn-fill text-success ui-cursor-pointer"
		   [ngbTooltip]="startTooltipTemplate" style="font-size: 5em" (click)="start()"></i>
	</div>
	<ng-template #startTooltipTemplate>
		<span i18n="@@common-start-reconcile">Start New Reconciliation</span>
	</ng-template>
</div>
<div [hidden]="!reconciliation" class="p-3">
	<table>
		<tbody>
			<tr>
				<th i18n="@@common-identifier">Identifier</th>
				<td class="pl-2">{{reconciliation?.identifier}}</td>
			</tr>
			<tr>
				<th i18n="@@common-status">Status</th>
				<td class="pl-2">{{displayStatus()}}</td>
			</tr>
		</tbody>
	</table>
</div>
