<div [hidden]="reconciliation">
	<div class="d-flex justify-content-center align-items-center" style="min-height: 250px">
		<i class="bi bi-play-btn-fill text-success ui-cursor-pointer"
		   [ngbTooltip]="startTooltipTemplate" style="font-size: 5em" (click)="start()"></i>
	</div>
	<ng-template #startTooltipTemplate>
		<span i18n="@@common-start-reconcile">Start New Reconciliation</span>
	</ng-template>
</div>
<div [hidden]="!reconciliation" class="p-3 w-100">
	<table class="w-100">
		<tbody>
			<tr>
				<th class="text-nowrap" i18n="@@common-identifier">Identifier</th>
				<td class="pl-4 w-100 py-2">{{reconciliation?.identifier}}</td>
			</tr>
			<tr>
				<th class="text-nowrap" i18n="@@common-status">Status</th>
				<td class="pl-4 py-2">{{displayStatus()}}</td>
			</tr>
			<tr [hidden]="reconciliation?.status != ReceiverReconcileStatusEnum.PROCESSING">
				<th class="text-nowrap py-2" i18n="@@receiver-reconcile-completed-sites">Completed Sites</th>
				<td class="pl-4 py-2 text-center">
					<b>{{progress?.completedSiteCount}} of {{progress?.totalCount}}</b>
				</td>
			</tr>
			<tr [hidden]="reconciliation?.status != ReceiverReconcileStatusEnum.PROCESSING">
				<th class="text-nowrap"></th>
				<td class="pl-4">
					<ngb-progressbar type="success" [showValue]="true" [value]="getCompletedSites()" [max]="getTotalCount()">
					</ngb-progressbar>
				</td>
			</tr>
			<tr [hidden]="reconciliation?.status != ReceiverReconcileStatusEnum.PROCESSING">
				<th class="text-nowrap"></th>
				<td class="pl-4 py-4">
					<button type="button" class="btn btn-primary btn-sm" (click)="showSiteDetails()" i18n="@@receiver-reconcile-show-site-details">
						Show Site Details
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<table [hidden]="!this.siteProgress" class="w-100 table">
		<thead>
			<tr>
				<th class="text-nowrap text-center" i18n="@@receiver-remote-site">Remote Site</th>
				<th class="w-100 py-2 text-center" i18n="@receiver-completed-tables">Completed Tables</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let e of siteProgress | keyvalue">
				<td class="text-nowrap" i18n="@@common-identifier">{{getSiteName(e.key)}}</td>
				<td class="w-100 py-2">
					<ngb-progressbar type="success" [showValue]="true" [value]="castToInt(e.value)" [max]="10">
					</ngb-progressbar>
				</td>
			</tr>
		</tbody>
	</table>
</div>
