<div>
	<div id="app-container" class="container mw-100 mt-2">
		<nav ngbNav #nav="ngbNav" class="nav-tabs ui-tabs-horizontal justify-content-end">
			<!--<ng-container ngbNavItem="SENDER" [disabled]="syncMode == 'RECEIVER'">
				<a ngbNavLink><h5 i18n="@@common-sender">Sender</h5></a>
				<ng-template ngbNavContent>
					<sender></sender>
				</ng-template>
			</ng-container>
			<ng-container ngbNavItem="RECEIVER" [disabled]="syncMode == 'SENDER'">
				<a ngbNavLink><h5 i18n="@@common-receiver">Receiver</h5></a>
				<ng-template ngbNavContent>
					<receiver></receiver>
				</ng-template>
			</ng-container>-->
			<ng-container ngbNavItem>
				<a ngbNavLink [hidden]="!syncMode || syncMode == 'RECEIVER'"><h5 i18n="@@common-sender">Sender</h5></a>
				<a ngbNavLink [hidden]="!syncMode || syncMode == 'SENDER'"><h5 i18n="@@common-receiver">Receiver</h5></a>
				<ng-template ngbNavContent>
					<sender [hidden]="!syncMode || syncMode == 'RECEIVER'"></sender>
					<receiver [hidden]="!syncMode || syncMode == 'SENDER'"></receiver>
				</ng-template>
			</ng-container>
		</nav>
	</div>
	<div class="container mw-100">
		<div class="ui-bar-spacer-content"></div>
		<div [ngbNavOutlet]="nav"></div>
	</div>
</div>
