<div>
	<div id="app-container" class="container mw-100 bg-silver">
		<nav ngbNav #nav="ngbNav" class="nav-tabs ui-tabs-horizontal justify-content-end" [(activeId)]="syncMode">
			<ng-container ngbNavItem="SENDER" [disabled]="syncMode == 'RECEIVER'">
				<a ngbNavLink><h5 i18n="@@common-sender">Sender</h5></a>
				<ng-template ngbNavContent>
					<sender></sender>
				</ng-template>
			</ng-container>
			<ng-container ngbNavItem="RECEIVER" [disabled]="syncMode == 'SENDER'">
				<a ngbNavLink><h5 i18n="@@common-receiver">Receiver</h5></a>
				<ng-template ngbNavContent>
					<receiver></receiver>
				</ng-template>
			</ng-container>
		</nav>
	</div>
	<div class="container mw-100">
		<div class="ui-bar-spacer-content"></div>
		<div [ngbNavOutlet]="nav"></div>
	</div>
</div>
